{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css"/>
</head>

<body>
    <form action="/app/direction" method="post">
        {% csrf_token %}
        <button type="submit" name='button' value='{{caller}}'>Назад</button>
    </form>

    {% if isempty %}
        <h1>Материалы не загружены</h1>
    {% endif %}

    <h1>Записи:</h1>
    <ul>
        {% for book in list %}
        <li>
            <div>
                <p style='display: inline;'>{{book.book_name}}</p>
                <a style='display: inline;' href='{{book.book_link}}' target='_blank'>Ссылка</a>
            </div>
        </li>
        {% endfor %}
    </ul>

</body>
</html>