<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <form action="/app/direction" method="post">
        {% csrf_token %}
        <button type="submit" name='button' value='{{caller}}'>Назад</button>
    </form>

    {% if isempty %}
        <h1>Материалы не загружены</h1>
    {% endif %}

    {% for book in list %}
        <div>
            <p style='display: inline;'>{{book.book_name}}</p>
            <a style='display: inline;' href='{{book.book_link}}' target='_blank'>Ссылка</a>
        </div>
    {% endfor %}

    
</body>
</html>